<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find the Nearest Station</title>
  </head>
  <body>
    <h1>Nearest station</h1>
    <form method="POST" name="calculator">
      {% if error %}
      <p style="color:red">Please input a valid location.</p>
      {% endif %}
      <p>
        Please enter your location:
      </p>
      <p>
        <input type="text" size="4" name="location">
      </p>
      <p>
        <input type="submit" value="Magic Happens" />
      </p>
    </form>
  </body>
</html>